.cart{
    float: right;
  }
  /* Style the navigation bar */
  .navbar {
      width: 100%;
      background-color: #D68B00;
      overflow: auto;
    }
    
    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #000;
    }
    
    /* Current/active navbar link */
    .active {
      background-color:#855600;
    }
    
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #000;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-right {
    float: right;
  }\200\300
  * {box-sizing:border-box}
  
body{
    background-color:	#FFD78C ;
}
.shop{
	width:100%;
	background-color:#855600;
	text-align:center;
    font-size: 20px;
}
.shop2{
	text-align:center;
	clear:both;
	border:1px solid black;
    height:50px;
}
.goods{
	float:left;
	width:100px;
}	
.price{
	float:left;
	width:60px;
}	
.number{
	float:left;
	width:130px;
}
.number-button{
    background-color: #000;
    color: white; 
    cursor: pointer; 
    padding: 10px;
}
.number-button:hover {background-color: gray;}
.subtotal{
	float:left;
	width:60px;
	margin-top:2px;
}	
.delete{
	float:left;
	width:60px;
	margin-left:5px;
}
.delete-button{
    background-color: #000;
    color: white; 
    padding: 10px; 
    cursor: pointer; 
}
.delete-button:hover {background-color: gray;}
.text{
	width: 30px;
	text-align:center;
    padding: 10px;
}
.other-button{
    background-color: #000;
    color: #ddd;
    padding:14px 28px;
    cursor: pointer; 
}
.other-button:hover {background-color: gray;}
