<<<<<<< HEAD
.cart{
    float: right;
  }
  /* Style the navigation bar */
  .navbar {
      width: 100%;
      background-color: #D68B00;
      overflow: auto;
    }
    
    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #000;
    }
    
    /* Current/active navbar link */
    .active {
      background-color:#855600;
    }
    
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #000;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-right {
    float: right;
  }\200\300
  * {box-sizing:border-box}
  
body{
    background-color:	#FFD78C ;
}
.section-image{
    margin-top: 30px;
    padding: 40px;
    float: left;
}
.title{
    text-align: center;
    margin-top: 30px;
}
.count {
    width: 200px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
    border: black 1px solid;
}
.bton {
    width: 50px;
    height: 40px;
    font-size: 25px;
    border: black 1px solid;
    float: left;
    color: white;
    text-align: center;
    background-color: #000;
}
.itemcount {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-left: black 1px solid;
    border-right:black 1px solid;
    background-color: #f9f9f9;
    float: left;
}
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    margin-left: 70px;
    background-color:black;
  }

  .btn:hover {background-color: gray;}
 .p1{
    clear:left;
    padding: 40px; ;
 }
 .person{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 40px;
}

 .comment{
    width: 600px;
   
    border: 1px solid gray;
   
    margin: 50px auto;
   
    padding: 40px 40px;
   
   }
   
   .comment h3 span{
   
    color:black;
   
   }
   
   .comment textarea{
   
    height: 130px;
   
    padding: 10px;
   
    width: 580px;
   
   }
   
   .comment input[type=image]{
   
     margin-top: 20px;
   
   }
  
.btn2 {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    background-color:black;
  }

  .btn2:hover {background-color: gray;}
  footer{
    background-color:#FFD78C ;
    height: 100px;
    width: 100%;
    margin-top:10px;
  }
  
  .footer-font{
    font-size: 20px;
  }
  .footer-text{
    float: left;
    font-size:14px;
    color:#000;
    line-height: 20px;
    margin-top:10px;
    padding: 30px;
  }
  
  .footer-li{
    float: left;
    margin-right: 1em;
    margin-top:10px;
    line-height: 30px;
    padding: 30px;
  }
  .bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
  .footer-li{
    float: left;
    margin-right: 1em;
    margin-top:10px;
    line-height: 30px;
    padding: 30px;
  }
  .footer-brand{
    float: left;
    margin-right: 1em;
    margin-top:9px;
    line-height: 30px;
    padding: 30px;
    font-size: 20px;
  } 
  .footer-float{
    float: left;
=======
.cart{
    float: right;
  }
  /* Style the navigation bar */
  .navbar {
      width: 100%;
      background-color: #D68B00;
      overflow: auto;
    }
    
    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #000;
    }
    
    /* Current/active navbar link */
    .active {
      background-color:#855600;
    }
    
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #000;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-right {
    float: right;
  }\200\300
  * {box-sizing:border-box}
  
body{
    background-color:	#FFD78C ;
}
.section-image{
    margin-top: 30px;
    padding: 40px;
    float: left;
}
.title{
    text-align: center;
    margin-top: 30px;
}
.count {
    width: 200px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
    border: black 1px solid;
}
.bton {
    width: 50px;
    height: 40px;
    font-size: 25px;
    border: black 1px solid;
    float: left;
    color: white;
    text-align: center;
    background-color: #000;
}
.itemcount {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-left: black 1px solid;
    border-right:black 1px solid;
    background-color: #f9f9f9;
    float: left;
}
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    margin-left: 70px;
    background-color:black;
  }

  .btn:hover {background-color: gray;}
 .p1{
    clear:left;
    padding: 40px; ;
 }
 .person{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 40px;
}

 .comment{
    width: 600px;
   
    border: 1px solid gray;
   
    margin: 50px auto;
   
    padding: 40px 40px;
   
   }
   
   .comment h3 span{
   
    color:black;
   
   }
   
   .comment textarea{
   
    height: 130px;
   
    padding: 10px;
   
    width: 580px;
   
   }
   
   .comment input[type=image]{
   
     margin-top: 20px;
   
   }
  
.btn2 {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    background-color:black;
  }

  .btn2:hover {background-color: gray;}
  footer{
    background-color:#FFD78C ;
    height: 100px;
    width: 100%;
    margin-top:10px;
  }
  
  .footer-font{
    font-size: 20px;
  }
  .footer-text{
    float: left;
    font-size:14px;
    color:#000;
    line-height: 20px;
    margin-top:10px;
    padding: 30px;
  }
  
  .footer-li{
    float: left;
    margin-right: 1em;
    margin-top:10px;
    line-height: 30px;
    padding: 30px;
  }
  .bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
  .footer-li{
    float: left;
    margin-right: 1em;
    margin-top:10px;
    line-height: 30px;
    padding: 30px;
  }
  .footer-brand{
    float: left;
    margin-right: 1em;
    margin-top:9px;
    line-height: 30px;
    padding: 30px;
    font-size: 20px;
  } 
  .footer-float{
    float: left;
>>>>>>> c714b1c841d88a9bfec05e4f382dbdfdb216f168
  }